@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100&family=Merriweather+Sans:wght@500&display=swap') ;

.albums-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.albums-section h3 {
  align-self: flex-start;
  color: #001813;
  font-family: Epilogue , sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

.albums-cards-container {
  display: flex;
  gap: 10px;
  margin: auto;
  margin-bottom: 200px;
  overflow-x: scroll;
  width: 1150px;
}

.albums-cards-container::-webkit-scrollbar {
  width: 16px;
}

.albums-cards-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.albums-cards-container::-webkit-scrollbar-thumb {
  background-color: #3d495c;
  border-radius: 100px;
}

.albums-cards-container div > * {
  color: #3d495c;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

.albums-cards-container div a {
  font-weight: 800;
  text-decoration: none;
}

.albums-cards-container div img {
  height: 180px;
  object-fit: cover;
  width: 280px;
}
