.albums-section {
  font-size: 1.6rem;
  margin: auto;
  max-width: 115rem;
  padding-bottom: 6rem;
}

.albums-section h3 {
  color: #001813;
  font-weight: 300;
  margin-bottom: 2rem;
}

.albums-cards-container {
  display: flex;
  gap: 10px;
  margin: auto;
  max-width: 115rem;
  overflow-x: scroll;
  padding-bottom: 1.6rem;
}

.albums-cards-container::-webkit-scrollbar {
  max-width: 1.6rem;
}

.albums-cards-container::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 10rem;
}

.albums-cards-container::-webkit-scrollbar-thumb {
  background-color: #3d495c;
  border-radius: 10rem;
}

/* ALBUM CARDS */
.albums-cards-container div > * {
  color: #3d495c;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

.albums-cards-container div a {
  display: inline-block;
  font-weight: 800;
  margin-bottom: 0.6rem;
  text-decoration: none;
}

.albums-cards-container div img {
  height: 180px;
  object-fit: cover;
  width: 28rem;
}
