@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400&family=Merriweather+Sans:wght@500&display=swap') ;

.loading-message-container {
  align-items: center;
  color: #023031;
  display: flex;
  font-family: Epilogue , sans-serif;
  height: 74px;
  justify-content: center;
}
