@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap') ;

.loading-message-container {
  align-items: center;
  color: #023031;
  display: flex;
  font-family: Merriweather Sans , sans-serif;
  justify-content: center;
}
