.user-profile-container {
  color: #3d495c;
  height: 50rem;
  margin: auto;
  margin-top: 6rem;
  max-width: 36rem;
  padding: 0 1rem;
}

.user-profile-container h4 {
  font-size: 1.6rem;
}

.user-profile-container p {
  font-size: 1.8rem;
  font-weight: 300;
}

.user-profile-container img {
  border-radius: 50%;
  height: 10rem;
  object-fit: cover;
  width: 10rem;
}

.edit-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.profile-edit-btn {
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  font-size: 1.5rem;
  padding: 6px;
  text-decoration: none;
}
