.login-form-container {
  left: 50%;
  margin: -200px -260px;
  position: fixed;
  text-align: center;
  top: 50%;
}

.login-form-container form {
  box-shadow: 0.1px 3px 8px rgb(173, 173, 173);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 110px;
  padding: 60px;
  row-gap: 12px;
  width: 400px;
}

.login-form-container form input {
  height: 32px;
  text-indent: 10px;
  width: 400px;
}

.login-form-container form button {
  background-color: #003be5;
  color: white;
  height: 32px;
  width: 400px;
}

.login-form-container form button:disabled {
  background: rgb(160, 160, 160);
  color: rgb(75, 75, 75);
  opacity: 0.6;
}
